#app-container{
  height: 100%;
  width: 85%;
  margin-top: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 4px 0px 10px rgba(0,0,0,0.4),
  0px 4px 7px rgba(0,0,0,0.1),
  0px 9px 12px rgba(0,0,0,0.4);
}
