#messgae-input{
  float: left;
  height: 40px;
  border-radius: 0;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.col-lg-8{
  padding: 0;
  margin: 0;
}

#messaging-window{
  width: 100%;
  height: 510px;
  padding: 1% 2%;
  padding-bottom: 0;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}


#chatting-section{
  height: 100%;
}

#composing-div{
  width: 100%;
  height: 100%;
}

.message-display{
  height: auto;
  width: 30%;
  max-width: 100%;
  margin: 8px;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #33cc33;
  color:white;
  padding: 5px;

}

#welcome-message{
  text-align: center;
  height: 530px;
}

.list-group{
border-radius: 0;
}


.header{
background-color: #008000;
  padding: 1%;
  /*border-left: 2px solid darkgray;*/
  height: 65px;
}

#receiver-title{
  color: white;
  font-size: 17px;
  margin-top: 10%;
}

.received{
  background-color: #98e698;
  float: right;
  color: black;
}
::-webkit-scrollbar {
  width: 8px;
  transform: scale(1, 1);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transform: scale(1, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
