<div id="left-chats-menu" class="col-lg-4">

  <div id="chats-list-header" class="header">
    <img src="../../../if_user_56299.png">
  </div>

  <div id="chats-nav-menu">
    <i class="glyphicon glyphicon-plus"></i>
    navbar menu</div>

  <div id="chats-list">
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
    <img src="../../../if_user_56299.png">
    User
  </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
    <div class="chat-item">
      <img src="../../../if_user_56299.png">
      User
    </div>
  </div>
  <div id="chats-list-footer" class="header">
    Footer
  </div>
