<div *ngIf="user" id="left-chats-menu" class="col-lg-4 col-md-4 col-sm-4">
<!--<div id="left-chats-menu" class="col-lg-4 col-md-4 col-sm-4">-->

  <div id="chats-list-header" class="header">
    <img style="float: left" [src]="user.profile_picture">
    <p style="color: white; margin-left: 1%">{{user.nickname}}</p>
  </div>

  <div id="chatslist-navbar">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 chatslist-navbar-item">Chat</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 chatslist-navbar-item">Notifications</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 chatslist-navbar-item">Search</div>
  </div>

  <div id="chats-list">
    <div class="chat-item" *ngFor="let friend of friendsList; let receiver of index" (click)="setCurrentReceiver(receiver)">
      <img [src]="friend.profile_picture">
      {{friend.nickname}}
    </div>
  </div>
  <!--<div id="chats-list-footer" class="header">-->
    <!--Footer-->
  <!--</div>-->
</div>
