<div class="chat-item">
  <div id="left-section" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
    <img [src]="friend.profile_picture">
  </div>

  <div id="middle-section" class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
  <div class="row">
    {{friend.nickname}}
  </div>
  <div class="row" *ngIf="lastMessage">
    {{lastMessage.content}}
  </div>
</div>

  <div id="right-section" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngIf="lastMessage">
    <div id="time-stamp">
      {{lastMessage.date}}
    </div>
      <div id="new-message" *ngIf="newMessagesCount > 0">
        {{newMessagesCount}}
      </div>
  </div>
</div>
